.header{
    width: 100vw;
    height: 5vh;
    background-color: rgb(247, 124, 10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width:500px){

.header{
    height: 11vh;
}    

}