.login{
    display: flex;
    flex-direction: column;
    background-color: indianred;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}