* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100vw;
}
body {
  font-family: sans-serif;
  width: 100vw;
  margin: 0 auto;
  background: rgb(251, 254, 255);
}

.all__news {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap; 
  grid-gap: 20px;
}

.news {
  width: 30vw;
  padding: 30px;
  border: 10px solid lightgray;
  height: 100%;
  border-radius: 5px;
}

.news__title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 1.5rem;
  text-align: center;
}

.head__text {
  margin-top: 30px;
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news__author {
  margin-right: 10px;
  color: purple;
}

.news__published {
  margin-right: 10px;
}

.news__source,
.news__published {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}


@media only screen and (max-width:500px){
  .all__news{
    flex-direction: column;
    width: 80vw;
  }
.news{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
}

}